<manifest package="com.permission.handler"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true"
                 android:supportsRtl="true"
    >
        <activity
            android:name=".PermisstionActivity"
            android:theme="@style/Theme.AppCompat.transparent" />
        <!-- uses-library -->

    </application>

</manifest>
